.piece {
  position: absolute;
  z-index: 5;
}

.piece:hover {
  cursor: pointer;
}

.dot {
  width: 20px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  top: -6px;
}

.rec {
  width: 20px;
  height: 10px;
  border: 2px solid black;
  position: absolute;
  border-bottom: none;
}

.dotBot {
  width: 20px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid black;
  position: absolute;
  top: 5px;
}
